<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel='stylesheet' href='/stylesheets/all.css' />
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.0/css/all.min.css' />
  <title>黑飄的家</title>
</head>

<body>
  <%- include('./layout/header',{place:"About"}); %>
   <div class="container">
       <div class="layout-card mt-3 p-5 text-center">
           <img src="/images/12132495257706.jpg" alt=""    width="150px">
           <p class="mt-3">本名:林聖偉<br>
            2020年於金門大學畢業<br>
            目前在學習有關於網站開發的知識<br>
            計畫往前端做發展<br>
            未來有機會的話再去學習後端<br>
            興趣是打LOL、完楓之谷，有點宅宅的~<br>
           </p>
       </div>
   </div>
  <%- include('./layout/footer'); %>
</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/all.js"></script>

</html>