<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel='stylesheet' href='/stylesheets/all.css' />
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.0/css/all.min.css' />
  <title>黑飄的家</title>
</head>

<body>
  <%- include('./layout/header',{place:"About"}); %>
   <div class="container">
       <div class="layout-card mt-3 p-5 text-center">
           <img src="/images/12132495257706.jpg" alt=""    width="150px">
           <p class="mt-3">本名:林聖偉<br>
            這個blog的名字的blackfloat<br>
            主要是因為我在遊戲叫做黑黑飄飄<br>
            一開始直翻覺得滿好聽就用下去了~<br>
            主要是放些學習Web相關的筆記<br>
            這網站其實很久以前就想做<br>
            但是以前一直寫不出好看的<br>
            於是花了好久才把css學起來<br>
            雖然template大多都參考各大blog網站<br>
            喜歡玩線上遊戲 如LOL、打戰棋<br>
            是個沒交過女友的死處男一個~
           </p>
       </div>
   </div>
  <%- include('./layout/footer'); %>
</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/all.js"></script>

</html>