<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/all.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.0/css/all.min.css' />
    <title>黑飄的家</title>
</head>

<body class="panel-active">
    <div class="panel">
        <div class="panel-brand">Blackfloat</div>
        <a class="panel-item" href="/admin/account">Account</a>
    </div>
    <div class="panel-container">
        <%- include("./admin-form") %>
    </div>
</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/all.js"></script>
<script src="/javascripts/admin.js"></script>

</html>