<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/all.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.0/css/all.min.css' />
    <title>黑飄的家</title>
</head>

<body class="bg-info">
    <div class="login">
        <h1 class="text-center text-white mb-3">Admin 登入</h1>
        <div class="layout-card p-5 bg-white">
            <% if(fail){ %> 
                <div class="alert-danger alert mb-3">Password Wrong</div>
            <% } %>
            <form action="/admin/login" method="post">
                <input type="text"  placeholder="username" class="form-control mb-3" name="account">
                <input type="password"  placeholder="password" class="form-control mb-3" name="password">
                <button class="btn btn-info w-100" type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/all.js"></script>
<script src="/javascripts/admin.js"></script>

</html>