.layout-card{
    width: 100%;
    display:block;
    border:1px solid #fafafa;
    box-shadow: 0 4px 8px 6px rgba(7,17,27,0.06);
    border-radius: 15px;
    margin-bottom:20px;
    transition: all .2s;
    &:hover{
        box-shadow: 0 4px 12px 12px rgba(7,17,27,0.15);
    }
}
.layout-card-title{
    font-size:20px;
}

