<div class="footer">
    <div class="footer-text">@2020 By BlackFloat</div>
    <div class="footer-text">Framework <a href="https://koa.bootcss.com/">koa</a>  | <a href="https://getbootstrap.com/docs/4.5/getting-started/introduction/">Bootstrap</a></div>
</div>


<a class="up_arrow" href=#><i class="fa fa-arrow-up" aria-hidden="true"></i></a>